<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="width=device-width, initial-scale=1.0">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="./css/style.css">
    </head>
    <body>
       
       
        <div class="container">
            <img src="./images/image.jpg">
           <div class="aka">
            <%= errorMessage %>

           </div>
           
                    
             <button class="btn" onclick="location.href='/' "  >Search Again</button>
                   
               
        </div>
        <script src="" async defer></script>
    </body>
</html>